* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courgette', cursive;
    color: white;
    font-weight: 100;
}

h2 {
    text-align: center;
    letter-spacing: 3px;
}

div.wrap {
    width: 40vw;
    height: 80vh;
    border: 2px solid black;
    margin: 15px auto;
    padding: 20px;
    background-image: linear-gradient( to right, rgb(1, 121, 251), white);
    background-position: center;
    overflow: auto;
    border-radius: 25px;
    box-shadow: gray 10px 0px 10px 3px;
}

input.search {
    text-align: center;
    width: 60%;
    margin: 5px 15px;
    outline: none;
}

input.input {
    text-align: center;
    width: 60%;
    margin: 5px 15px;
    outline: none;
}

input[type=submit] {
    cursor: pointer;
    width: 20%;
}

.wrap h3 {
    text-align: center;
    margin-right: 0px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.btn-light {
    padding: 0px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.not-focusable:focus {
    outline: none;
    box-shadow: none;
}

ul {
    list-style-type: square;
    margin-left: 20px;
    position: relative;
}

li {
    /* border: 1px solid gray; */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1px;
}